* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

form,
.posts-page,
.posts-displayer,
.individual-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.posts-displayer {
    max-width: 90vw;
    flex-direction: row;
    margin-bottom: 4rem;
    overflow:auto;
}

.individual-post{
    font-size: small;
    border: 1px solid black;
}
.individual-post p{
    margin: 0.5rem;
}

.individual-post .post-heading{
    display: flex;
}