
.navbar {
    width: 100%;
    height: 10vh;
    background-color: $nav-bg-color;
    @include flexCenter(row);
    justify-content: space-evenly;
    a{
        font-weight: bold;
        font-size: larger;
        transition: transform 0.2s;
        &:hover{
            transform: scale(1.1);
        }
    }
}